.fishTitle {
    text-align: center;
}

.fishList {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: lightblue;
}

.fishList li {
    flex-basis: 16%;
    list-style-type: none;
}

.fishImg {
    max-height: 8rem;
    max-width: 13rem;
}

.fish-animation {
    transition: ease 1s;
    padding-top: 1rem;
} 

.fish-animation:hover {
    background-color: coral;
    /* transition: all ease-in-out 1s; */
}

.fish-sliding-u-l-r-l{
    display: inline-block;
    position: relative;
    padding-bottom: 14px;
    color: white;
    margin-left: 3rem;
}
.fish-sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.fish-sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    background: goldenrod;
    transition: width .5s ease;
}
.fish-sliding-u-l-r-l:hover:before {
    width: 100%;
    background: #ff33ee;
    transition: width .5s ease;
}
.fish-sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}