@import "./fishes.css";
@import "./quotes.css";
@import "./locations.css";
@import "./tips.css";

header {
    padding-left: 3rem;
}

header h1 {
    color: aquamarine;
}

body {
    background-color: blue;
}