.quotes {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: coral;
    
}

.individual-quote {
    transition: .3s ease;
}

.individual-quote:hover {
    color: cyan;
    /* flex-grow: 2; */
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    }